body{
    background-color: #93BFCF;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
}
h1{
    font-family: 'Montez', cursive;
    font-size: 90px;
    color: #3F979B;
    margin-top: 150px;
    margin-bottom: 0;
    line-height: 2;
}
h2{
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
    color: #3F979B;
    margin-top: 50px;
}
h3{
    color: #3F979B;
}
p{
    font-weight: normal;
    line-height: 2;
}
hr{
    display: inline-block;
    width: 5%;
    border-style: dotted;
    border-width: 5px;
    border-bottom: none;
    border-color: #653614;
    margin: 30px auto;
}
.top-container{
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
.bottom-cloud{
    position: absolute;
    left: 10%;
    bottom: 30%;
}
.mountain{
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    width: 33.33%;
}
.sun{
    position: absolute;
    left: 200px;
    top: 80px;
    height: 200px;
    width: 200px;
}
.pic{
    margin: 100px auto 10px;
    width: 300px;
}
.profile{
    background-color: #653614;
    background-image: linear-gradient(#653614,whitesmoke);
}
.intro{
    display: inline-block;
    width: 50%;
    margin: 50px auto;
    font-weight: bolder;
}
.skills{
    background-image: linear-gradient(whitesmoke,white);
}
.contact-me{
    background-color: white;
    padding: 30px 16px 90px;
}
#hr1{
    background-color: whitesmoke;
}
#hr2{
    background-color: white;
}
.skill-row{
    width: 50%;
    margin: 100px auto 0;
    padding-bottom: 16px;
}
.simg{
    width: 25%;
}
.i1{
    float: left;
    margin-right: 25px;
}
.i2{
    float: right;
    margin-left: 25px;
}
.s1{
    text-align: left;
    margin-top: 50px;
}
.s2{
    text-align: right;
    margin-top: 50px;
}
.st{
    clear: both;
}
.ct{
    font-weight: bold;
}
.small{
    width: 33.33%;
    margin: 10px auto 50px;
}
.btn {
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    -webkit-box-shadow: 11px 8px 2px #666666;
    -moz-box-shadow: 11px 8px 2px #666666;
    box-shadow: 11px 8px 2px #666666;
    font-family: Courier New;
    color: #3F979B;
    font-size: 25px;
    background: #93BFCF;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 3px;
    text-decoration: none;
    font-weight: bold;
}
.btn:hover {
    background: #653614;
    text-decoration: none;
}
.footer-link{
    font-weight: bold;
    text-decoration: none;
    color: #3F979B;
    margin: 0 50px;
}
.name{
    color: whitesmoke;
    margin-bottom: 0;
    padding-top: 30px;
}
.bottom-container{
    padding-top: 30px;
}
.footer-link:hover{
    color: #653614;
    margin: 0 50px;
    font-weight: bold;
}